.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    font-size: 23px;
    display: inline;
}
.heading button{
    border: 1px solid white;
    float: right;
    margin-right: 5px;
}
.big_image{
    width: 100%;
}
#status, #start{
    font-size: 22px;
}
h4{
    margin: 0px;
    line-height: 2;
    background-color: rgb(190, 190, 190);
}
.modal-dialogue{
    width: 90%;
}
.image-instructions{
    width: 45%;
    display: inline-block;
}
.modal-header h4{
    width: 95%;
    padding: 10px;
}

.modal-header h4 button{
    float: right;
}

#game_console{
    background-image: url("game_console.png");
    background-size: cover;
    background-position: center;
    padding: 25px;
}